[run]
branch = True
source =
    lapka

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    pragma: no cover
    raise NotImplementedError
    if __name__ == .__main__.:

ignore_errors = True
