[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

aiohttp = "==3.3.2"
aiohttp_session = {extras = ["secure"], version = "==2.5.1"}
lxml = "==4.2.1"
aiodns = "==1.1.1"
cchardet = "==2.1.1"


[dev-packages]

tox = "==3.0.0"


[requires]

python_version = "3.6"
