<!DOCTYPE html>
<html lang="en">
<head></head>
<body>
  <script id="profile-settings-tmpl" type="text/x-template">
    <div>
        <social-connect></social-connect>

        <a href="#">My favourite pets</a>

        <hr/>

        <form v-on:submit.prevent="onSubmit">
            <fieldset class="row">
                <legend>Species</legend>
                <input type="checkbox" id="cat" name="species" value="cat" v-model="species">
                <label for="cat">Cats</label>
                <br>
                <input type="checkbox" id="dog" name="species" value="dog" v-model="species">
                <label for="dog">Dogs</label>
            </fieldset>
            <fieldset class="row">
                <legend>Sex</legend>
                <input type="checkbox" id="male" name="sex" value="male" v-model="sex">
                <label for="male">Male</label>
                <br>
                <input type="checkbox" id="female" name="sex" value="female" v-model="sex">
                <label for="female">Female</label>
            </fieldset>
            <fieldset class="row">
                <legend>City</legend>
                <input type="checkbox" id="waw" name="city" value="Warszawa" v-model="cities">
                <label for="waw">Warszawa</label>
                <br>
                <input type="checkbox" id="wro" name="city" value="Wroclaw" v-model="cities">
                <label for="wro">Wroclaw</label>
            </fieldset>

            <input class="button-primary" value="Save" type="submit">
        </form>
    </div>
  </script>

  <script id="social-connect-tmpl" type="text/x-template">
    <ul>Social accounts
        <li v-for="p in platforms">
            {{ p.name }} (
                <a v-if="p.connected" href="#" v-on:click="disconnect($event)">Disconnect</a>
                <a v-else href="#" v-on:click="connect($event)">Connect</a>
            )
        </li>
    </ul>
  </script>
</body>
</html>
