<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Your page title here :)</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/skeleton.css">
  <style>
    input[type="checkbox"] + label {
        display: inline-block;
    }
  </style>

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png">

  <!-- Vue.js
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script src="https://unpkg.com/vue"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="js/lapka.js"></script>

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div id="app" class="container">
    <custom-header></custom-header>
    <div class="row">
      <div class="twelve columns">
        <h4>{{ message }}</h4>
        <profile-settings></profile-settings>
      </div>
    </div>
    <custom-footer></custom-footer>
  </div>

  <script id="profile-settings-tmpl" type="text/x-template">
    <div>
        <social-connect></social-connect>

        <a href="#">My favourite pets</a>

        <hr/>

        <form v-on:submit.prevent="onSubmit">
            <fieldset class="row">
                <legend>Species</legend>
                <input type="checkbox" id="cat" name="species" value="cat" v-model="species">
                <label for="cat">Cats</label>
                <br>
                <input type="checkbox" id="dog" name="species" value="dog" v-model="species">
                <label for="dog">Dogs</label>
            </fieldset>
            <fieldset class="row">
                <legend>Sex</legend>
                <input type="checkbox" id="male" name="sex" value="male" v-model="sex">
                <label for="male">Male</label>
                <br>
                <input type="checkbox" id="female" name="sex" value="female" v-model="sex">
                <label for="female">Female</label>
            </fieldset>
            <fieldset class="row">
                <legend>City</legend>
                <input type="checkbox" id="waw" name="city" value="Warszawa" v-model="cities">
                <label for="waw">Warszawa</label>
                <br>
                <input type="checkbox" id="wro" name="city" value="Wroclaw" v-model="cities">
                <label for="wro">Wroclaw</label>
            </fieldset>

            <input class="button-primary" value="Save" type="submit">
        </form>
    </div>
  </script>

  <script id="social-connect-tmpl" type="text/x-template">
    <ul>Social accounts
        <li v-for="p in platforms">
            {{ p.name }} (
                <a v-if="p.connected" href="#" v-on:click="disconnect($event)">Disconnect</a>
                <a v-else href="#" v-on:click="connect($event)">Connect</a>
            )
        </li>
    </ul>
  </script>

  <script id="animal-profile-tmpl" type="text/x-template">
    <div>
      <h5>{{ name }}</h5>
      <p>{{ name }} is {{ age}} years old and can be adopted in {{ place }}.</p>
      <p>{{ description }}</p>
    </div>
  </script>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
